<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
     {{>header}}
     <form>
       <input class="input" type="text" placeholder="Enter Location">
       <button id="search-btn">
         Search
       </button>

        <p id="msgone"></p>
        <p id="msgtwo"></p>
     </form>
  </div>



  {{>footer}}
  <script src="js/main.js"></script>
</body>
</html>